src/catalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CatalogService"
             targetNamespace="http://www.example.org/catalog/"
             xmlns:tns="http://www.example.org/catalog/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <!-- Define complex types for Product and Category -->
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://www.example.org/catalog/"
                targetNamespace="http://www.example.org/catalog/">

        <!-- Define Product Type -->
        <xsd:complexType name="Product">
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string"/>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="price" type="xsd:decimal"/>
                <xsd:element name="stock" type="xsd:int"/>
                <xsd:element name="imageUrl" type="xsd:string"/>
                <xsd:element name="CategoryId" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Define Category Type -->
        <xsd:complexType name="Category">
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string"/>
                <xsd:element name="name" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Define Array of Products -->
        <xsd:complexType name="ProductArray">
            <xsd:sequence>
                <xsd:element name="product" type="tns:Product" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Define Array of Categories -->
        <xsd:complexType name="CategoryArray">
            <xsd:sequence>
                <xsd:element name="category" type="tns:Category" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

    </xsd:schema>

    <message name="getCategoriesRequest"/>
    <message name="getCategoriesResponse">
        <part name="categories" type="tns:CategoryArray"/>
    </message>

    <message name="createCategoryRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="createCategoryResponse">
        <part name="success" type="xsd:string"/>
        <part name="categoryId" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
    </message>

    <message name="getProductsRequest"/>
    <message name="getProductsResponse">
        <part name="products" type="tns:ProductArray"/>
    </message>

    <message name="getProductDetailsRequest">
        <part name="id" type="xsd:string"/>
    </message>
    <message name="getProductDetailsResponse">
        <part name="product" type="tns:Product"/>
    </message>

    <message name="createProductRequest">
        <part name="name" type="xsd:string"/>
        <part name="description" type="xsd:string"/>
        <part name="price" type="xsd:decimal"/>
        <part name="stock" type="xsd:int"/>
        <part name="imageUrl" type="xsd:string"/>
        <part name="CategoryId" type="xsd:string"/>
    </message>
    <message name="createProductResponse">
        <part name="success" type="xsd:string"/>
        <part name="productId" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
    </message>

    <message name="updateProductRequest">
        <part name="id" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
        <part name="description" type="xsd:string"/>
        <part name="price" type="xsd:decimal"/>
        <part name="stock" type="xsd:int"/>
        <part name="imageUrl" type="xsd:string"/>
        <part name="CategoryId" type="xsd:string"/>
    </message>
    <message name="updateProductResponse">
        <part name="success" type="xsd:string"/>
         <part name="productId" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
    </message>

    <message name="deleteProductRequest">
        <part name="id" type="xsd:string"/>
    </message>
    <message name="deleteProductResponse">
        <part name="success" type="xsd:string"/>
    </message>

    <message name="adjustStockRequest">
        <part name="id" type="xsd:string"/>
        <part name="quantity" type="xsd:int"/>
    </message>
    <message name="adjustStockResponse">
        <part name="success" type="xsd:string"/>
        <part name="productId" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
        <part name="stock" type="xsd:int"/>
    </message>

    <portType name="CatalogPortType">
        <operation name="getCategories">
            <input message="tns:getCategoriesRequest"/>
            <output message="tns:getCategoriesResponse"/>
        </operation>
        <operation name="createCategory">
            <input message="tns:createCategoryRequest"/>
            <output message="tns:createCategoryResponse"/>
        </operation>
        <operation name="getProducts">
            <input message="tns:getProductsRequest"/>
            <output message="tns:getProductsResponse"/>
        </operation>
        <operation name="getProductDetails">
            <input message="tns:getProductDetailsRequest"/>
            <output message="tns:getProductDetailsResponse"/>
        </operation>
        <operation name="createProduct">
            <input message="tns:createProductRequest"/>
            <output message="tns:createProductResponse"/>
        </operation>
        <operation name="updateProduct">
            <input message="tns:updateProductRequest"/>
            <output message="tns:updateProductResponse"/>
        </operation>
        <operation name="deleteProduct">
            <input message="tns:deleteProductRequest"/>
            <output message="tns:deleteProductResponse"/>
        </operation>
        <operation name="adjustStock">
            <input message="tns:adjustStockRequest"/>
            <output message="tns:adjustStockResponse"/>
        </operation>
    </portType>

    <binding name="CatalogBinding" type="tns:CatalogPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCategories">
            <soap:operation soapAction="urn:getCategories"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createCategory">
            <soap:operation soapAction="urn:createCategory"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProducts">
            <soap:operation soapAction="urn:getProducts"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProductDetails">
            <soap:operation soapAction="urn:getProductDetails"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createProduct">
            <soap:operation soapAction="urn:createProduct"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateProduct">
            <soap:operation soapAction="urn:updateProduct"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteProduct">
            <soap:operation soapAction="urn:deleteProduct"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="adjustStock">
            <soap:operation soapAction="urn:adjustStock"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CatalogService">
        <port name="CatalogPort" binding="tns:CatalogBinding">
            <soap:address location="http://localhost:3001/catalog"/>
        </port>
    </service>

</definitions>
